:root{
  --main-color:#fff325;
  --sub-color:#ffe618;
  --light-color:#eaebed;
  --dark-color:#111427;
}
body{
  font-family:'Montserrat','Noto Sans KR', sans-serif;
  font-size: 14px;
  color:#999;
  background-image: linear-gradient(#f5f6f9,#edeef3);
  background-attachment: fixed;
}