.ex1{
  width: 980px;
  border: 5px solid black;
  margin: 0 auto;
  padding-top: 20px;
}
.ex1 div{
  width: 300px;
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: black;
}
.ex1 .sBox{
  height: 150px;
}
.ex1 .wBox{
  height: 300px;
}
.ex1 :nth-child(3n+4){
  clear: both;
}
.ex1::after{
  content: "";
  clear: both;
  display: block;
}
.ex2{
  width:720px;
  border: 5px solid black;
  margin: 0 auto;
  padding-top:30px
}
.ex2 div{
  background-color: aquamarine;
  height: 200px;
  margin-bottom: 30px;
}
.ex2 div:hover{
  background: black;
  transition: 2s;
}
.ex2 .sBox{
  width: 200px;
}
.ex2 .wBox{
  width: 315px;
}
.ex2 .hBox{
  width: 200px;
  height:430px
}
.ex2 .bSquare{
  width: 430px;
  height: 430px;
}
.ex2 :nth-child(1), .ex2 :nth-child(2){
  float: left;
  margin-left: 30px;
}
.ex2 :nth-child(3){
  clear: both;
  float: left;
  margin-left: 30px;
}
.ex2 :nth-child(4){
  clear: both;
}
.ex2 :nth-child(4), .ex2 :nth-child(5), .ex2 :nth-child(6), .ex2 :nth-child(7){
  float:right;
  margin-right: 30px;
}
.ex2 :nth-child(8){
  clear: both;
  float: left;
  margin-left: 30px;
}
.ex2 :nth-child(9){
  clear: both;
  float: right;
  margin-right: 30px;
}
.ex2 :nth-child(10){
  clear: both;
  float: left;
  margin-left: 30px;
}
.ex2 :nth-child(11){
  float: left;
  margin-left: 260px;
}
.ex2 :last-child{
  float: left;
  margin-left: 260px;
}
.ex2::after{
  content: "";
  display: block;
  clear: both;
}