.ex1{
  width:980px;
  border: 1px solid black;
  margin:0 auto;
  padding-top: 20px;
}
.ex1 .sBox{
  width: 300px;
}
.ex1 .wBox{
  width: 460px;
}
.ex1 div{
  height: 300px;
  margin-bottom: 20px;
  background-color: #ccc;
}
.ex1 .box1, .ex1 .box2{
  float:left;
  margin-left: 20px;
  margin-bottom: 20px;
}
.ex1 .box3{
  clear:both; /* 형(앞쪽)자식들과의 관계만 끊는다 */
}
.ex1 div:not(.box7){
  float: left;
  margin-left: 20px;
}
.ex1 .box7{
  float: right;
  margin-right: 20px;
}
.ex1::after{
  /*  clear fix
  float를 적용하면 부모가 높이를 인식하지 못하게 되는데 그때문에
  가상엘리먼트를 집어넣고 블럭레벨을 지정해준뒤 clear:both로 부모가 높이를
  인식할 수 있게 해준다  
  */
  content: "";
  display: block;
  clear: both; /* 블럭레벨만 사용가능 */
}
.ex2{
  width: 980px;
  margin: 0 auto;
  border: 5px solid black;
  padding-top: 20px;
}
.ex2 div{
  text-align: center;
  font-size: 50px;
  background-color: aquamarine;
  margin-bottom: 20px;
}
.ex2 .sBox{
  width: 300px;
  height: 300px;
  line-height: 300px;
}
.ex2 .wBox{
  width: 300px;
  height: 620px;
  line-height: 620px;
}
.ex2 .box1, .ex2 .box2, .ex2 .box3, .ex2 .box4{
  float: left;
  margin-left: 20px;
}
.ex2 .box5{
  clear: both;
}
.ex2 .box5, .ex2 .box6, .ex2 .box7, .ex2 .box8{
  float: right;
  margin-right: 20px;
}
.ex2::after{
  content:"";
  display: block;
  clear: both;
}