section.sunshine-section figure.img-container div.sunshine-img {
  position: relative;
}
section.sunshine-section figure.img-container div.sunshine-img a.link-button:hover {
  color: #9E8C76;
}
@media screen and (min-width: 1350px) {
  section.sunshine-section figure.img-container div.sunshine-img {
    display: flex;
    align-items: center;
    padding: 30px 0;
  }
  section.sunshine-section figure.img-container div.sunshine-img div.img1-container {
    position: relative;
    width: 600px;
    height: auto;
    margin: 0 auto;
  }
  section.sunshine-section figure.img-container div.sunshine-img div.img1-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  section.sunshine-section figure.img-container div.sunshine-img div.img2-container {
    position: absolute;
    height: 220px;
    top: 15%;
    left: 5%;
  }
  section.sunshine-section figure.img-container div.sunshine-img div.img2-container img {
    height: 100%;
  }
  section.sunshine-section figure.img-container div.sunshine-img div.img3-container {
    position: absolute;
    height: 220px;
    top: 40%;
    right: 5%;
  }
  section.sunshine-section figure.img-container div.sunshine-img div.img3-container img {
    height: 100%;
  }
  section.sunshine-section figure.img-container div.sunshine-img div.img4-container {
    position: absolute;
    height: 220px;
    top: 55%;
    left: 5%;
  }
  section.sunshine-section figure.img-container div.sunshine-img div.img4-container img {
    height: 100%;
  }
  section.sunshine-section figure.img-container div.sunshine-img a.link-button {
    right: 20px;
    bottom: 20px;
  }
}
@media screen and (max-width: 1350px) {
  section.sunshine-section figure.img-container div.sunshine-img {
    width: 100%;
  }
  section.sunshine-section figure.img-container div.sunshine-img div {
    float: right;
    width: 40%;
    margin-right: 4%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1350px) and (max-width: 450px) {
  section.sunshine-section figure.img-container div.sunshine-img div {
    margin-right: 2%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1350px) {
  section.sunshine-section figure.img-container div.sunshine-img div img {
    width: 100%;
  }
}
@media screen and (max-width: 1350px) {
  section.sunshine-section figure.img-container div.sunshine-img div.img1-container {
    float: left;
    margin-left: 4%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1350px) and (max-width: 450px) {
  section.sunshine-section figure.img-container div.sunshine-img div.img1-container {
    margin-left: 2%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1350px) {
  section.sunshine-section figure.img-container div.sunshine-img div.img3-container {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1350px) and (max-width: 450px) {
  section.sunshine-section figure.img-container div.sunshine-img div.img3-container {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1350px) {
  section.sunshine-section figure.img-container div.sunshine-img a.link-button {
    left: 40px;
    bottom: 40px;
  }
}
@media screen and (max-width: 1350px) {
  section.sunshine-section figure.img-container div.sunshine-img::after {
    content: "";
    clear: both;
    display: block;
  }
}
section.sunshine-section figcaption dl dd b.color-bbb1a6 {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #bbb1a6;
  margin: 0 5px;
}
section.sunshine-section figcaption dl dd b.color-8e7760 {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #8e7760;
  margin: 0 5px;
}
section.sunshine-section figcaption dl dd b.color-3a3a3a {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #3a3a3a;
  margin: 0 5px;
}
section.sunshine-section figcaption dl dd b.color-f99d1b {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #f99d1b;
  margin: 0 5px;
}
section.sunshine-section figcaption dl dd b.color-1f1d1d {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #1f1d1d;
  margin: 0 5px;
}/*# sourceMappingURL=sunshine.css.map */