body{
  background-image: url(../img/body-bg.jpg); 
  background-position: center;
  background-size: 100% 10000%;
  background-position: center;
}
header{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 500px;
  text-align: center;
  padding-top: 100px;
  div.header-top{
    background: linear-gradient(#eee,20%, #fff);
    padding-top: 100px;
    h1{
      padding-left: 30px;
      font-weight: 900;
      font-size: 3em;
      letter-spacing: 30px;
    }//h1
    figure.img-container{
      width: 200px;
      height: 200px;
      margin: 80px auto;
      div.portrait{
        width: 100%;
        height: 100%;
        background-color: #555;
        margin-bottom: 80px;
      }
    }
    figcaption{
      dl{
        padding: 0 25% 0 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        dt,dd{margin-bottom: 20px;}
        dt{
          width: 15%;
          text-align: right;
          font-size: 1.1em;
          font-weight: 600;
        }
        dd{
          width: 80%;
          text-align: left;
          line-height: 22px;
        }
      }
    }

  }//header top
}