main{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 500px;
  text-align: center;
  padding-top: 100px;
  section.sunshine-section{
    text-align: initial;
    h2{
      font-size: 2em;
      font-weight: 900;
    }
  }
}