footer{/* 높이안줌(패딩으로 해결) */
  width: 650px;
  margin: 0 auto;
  background-color: #ccc;
  padding: 20px 0;
}
footer address{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
footer i{
  display: inline-block;
}  