@import 'mixin';

.site-footer{
  background-color: var(--dark-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  @media screen and (min-width:1000px){
    width:calc(100% - 90px);
  }
  @media screen and (max-width:1000px){
    width:100%
  }
  .site-footer-top{
    padding: 30px 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    padding: 30px 0;
    ul{
      @media screen and (min-width:1000px){
        display: flex;
        justify-content: space-between;                
      }
      li{
        @media screen and (min-width:1000px){
          width: 31%;
        }
        @media screen and (max-width:1000px){
          margin-bottom: 20px;
          &:last-child{margin-bottom: 0;}
        }
        h6{
          margin-bottom: 10px;
          font-weight: 600;
          letter-spacing: 0.15em;
          display: flex;
          justify-content:center;
          b{
            position: relative;
            flex:1;
            margin-right: 10px;
            color: #ccc;
            &::after{
              content: '';
              position: absolute;
              width: 100%;
              top: 50%;
              right: 0;
              border-bottom: 1px solid rgba(#fff,.2);
            }
          }
          i{
            color: var(--main-color);
          }
        }
        dl{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          font-size: 0.9em;
          dt,dd{margin: 4px 0;}
          dt{
            width: 20%;
            color: #999;
            &::before{
              content: '·';
              margin-right: 10px;
              color: #666;
            }
          }
          dd{
            width: 72%;
            color: #ccc;
            &::before{
              content: '|';
              margin-right: 10px;
              color: #666;
            }
          }
        }
        a{
          margin-top: 10px;
          display: block;
          padding: 7px 0;
          border: 1px solid #999;
          text-align: center;
          color: #999;
        }
      }
    }
  }
  .site-footer-bottom{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: var(--gray-color);
    @media screen and (min-width:1000px){
      p{
        margin-left: 3%;
      }
      button{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 20%;
      }
    }
    @media screen and (max-width:1000px){
      text-align: center;
      p{
        margin-bottom: 10px;
      }
      button{
        padding: 7px 15px;
        border-radius: 5px;
      }
    }
    p{
      font-size: 0.8em;
      color: #999;
    }
    button{
      background-color: #555;
      color: #ccc;
      font-weight: 600;
      transition: all 0.3s;
      &:hover{
        background: var(--main-color);
        color: var(--dark-color);
      }
    }
  }
}