section.page-around > ul > li,
section.page-facility > ul > li {
  margin: 20px 0;
}
section.page-around > ul > li h3,
section.page-facility > ul > li h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--dark-color);
  border-bottom: 1px solid var(--main-color);
}
section.page-around > ul > li h3::after,
section.page-facility > ul > li h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 50px;
  height: 2px;
  background-color: var(--dark-color);
}
section.page-around > ul > li p,
section.page-facility > ul > li p {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
}
section.page-around > ul > li p::before,
section.page-facility > ul > li p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #EEE;
}
section.page-around > ul > li p::after,
section.page-facility > ul > li p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 20px;
  background: #CCC;
}
section.page-around > ul > li figure,
section.page-facility > ul > li figure {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
}
section.page-around > ul > li figure img,
section.page-facility > ul > li figure img {
  width: 100%;
}
section.page-around > ul > li > ul,
section.page-facility > ul > li > ul {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border: 1px solid #CCC;
  color: #CCC;
  background: var(--dark-color);
}
section.page-around > ul > li > ul > li,
section.page-facility > ul > li > ul > li {
  padding: 5px 0;
  border-bottom: 1px dotted #999;
}
section.page-around > ul > li > ul > li::before,
section.page-facility > ul > li > ul > li::before {
  content: "\f071";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
section.page-around > ul > li > ul > li::before,
section.page-facility > ul > li > ul > li::before {
  margin-right: 5px;
  color: #f9bf26;
}