@charset "UTF-8";
.site-footer {
  background-color: var(--dark-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
}
@media screen and (min-width: 1000px) {
  .site-footer {
    width: calc(100% - 90px);
  }
}
@media screen and (max-width: 1000px) {
  .site-footer {
    width: 100%;
  }
}
.site-footer .site-footer-top {
  padding: 30px 0;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  padding: 30px 0;
}
@media screen and (min-width: 1000px) {
  .site-footer .site-footer-top ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1000px) {
  .site-footer .site-footer-top ul li {
    width: 31%;
  }
}
@media screen and (max-width: 1000px) {
  .site-footer .site-footer-top ul li {
    margin-bottom: 20px;
  }
  .site-footer .site-footer-top ul li:last-child {
    margin-bottom: 0;
  }
}
.site-footer .site-footer-top ul li h6 {
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: 0.15em;
  display: flex;
  justify-content: center;
}
.site-footer .site-footer-top ul li h6 b {
  position: relative;
  flex: 1;
  margin-right: 10px;
  color: #ccc;
}
.site-footer .site-footer-top ul li h6 b::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.site-footer .site-footer-top ul li h6 i {
  color: var(--main-color);
}
.site-footer .site-footer-top ul li dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.9em;
}
.site-footer .site-footer-top ul li dl dt, .site-footer .site-footer-top ul li dl dd {
  margin: 4px 0;
}
.site-footer .site-footer-top ul li dl dt {
  width: 20%;
  color: #999;
}
.site-footer .site-footer-top ul li dl dt::before {
  content: "·";
  margin-right: 10px;
  color: #666;
}
.site-footer .site-footer-top ul li dl dd {
  width: 72%;
  color: #ccc;
}
.site-footer .site-footer-top ul li dl dd::before {
  content: "|";
  margin-right: 10px;
  color: #666;
}
.site-footer .site-footer-top ul li a {
  margin-top: 10px;
  display: block;
  padding: 7px 0;
  border: 1px solid #999;
  text-align: center;
  color: #999;
}
.site-footer .site-footer-bottom {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  background-color: var(--gray-color);
}
@media screen and (min-width: 1000px) {
  .site-footer .site-footer-bottom p {
    margin-left: 3%;
  }
  .site-footer .site-footer-bottom button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
  }
}
@media screen and (max-width: 1000px) {
  .site-footer .site-footer-bottom {
    text-align: center;
  }
  .site-footer .site-footer-bottom p {
    margin-bottom: 10px;
  }
  .site-footer .site-footer-bottom button {
    padding: 7px 15px;
    border-radius: 5px;
  }
}
.site-footer .site-footer-bottom p {
  font-size: 0.8em;
  color: #999;
}
.site-footer .site-footer-bottom button {
  background-color: #555;
  color: #ccc;
  font-weight: 600;
}