.ex1 span{
  display: inline-block;
  width: 50px;
  background-color: blueviolet;
  vertical-align: middle;
}
.ex1 span:nth-child(1){
  height: 50px;
  line-height: 50px;
}
.ex1 span:nth-child(2){
  height: 100px;
  line-height: 100px;
}
.ex1 span:nth-child(3){
  height: 150px;
  line-height: 150px;
}
.ex2{
  background-color: black;
  width: 100px;
  height: 300px;
  line-height: 300px;
}
.ex2>div{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white;
  vertical-align: middle;
  line-height: 50px;
}
.ex3{
  background-color: #eee;
  text-align: center;
}
.ex3 span{
  display: inline-block;
  width: 200px;
  background-color: yellow;
  text-align: right;
}
.ex4{
  width: 400px;
  background-color: aquamarine;
  margin:0 auto 0px auto;/* margin : 0 auto */
}
.ex5{
  margin:0 auto;
  background-color: red;
  width: 150px;
  height: 300px;
  line-height: 300px;
  text-align: center;
}
.ex5 img{
  vertical-align: middle;
}
.test{
  margin:0 auto;
  background-color: black;
  width: 500px;
  height: 500px;
}
.test *{
/*   display: inline; */
background-color: white;
}
/* .test:first-child ~ .test *:nth-last-child(3){
  background-color: white;
} */