.ex1 *{
  color: red;
}
div.ex2{
  color: red;
}
.ex3 :hover{
  color: blue;
}
.ex3 :active{
  color: red;
}
.ex4 *:first-child:hover, .ex4 *:last-child:hover{
  color: red;
}
.ex5 *:last-of-type{
  color: red;
}
.ex6 small:nth-child(3){
  color: blue;
}
.ex7 span:nth-child(even){
  color: red;
}
.ex8 i:nth-of-type(odd){
  color: red;
}
.ex9 a[href]{
  text-decoration: none;
}
.ex9 a[href='#']{
  color: red;
}
span.quiz{
  display: inline-block;
  padding: 50px;
  background-color: #aaa;
}
span.quiz b{
  letter-spacing: 20px;
}
span.quiz:hover *:nth-child(odd){
  text-decoration: underline;
}
.quiz1 *:nth-child(-n+5){
  color: red;
}