@import './mixin';

.post-metadata{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border-top:2px solid var(--main-color); 
  dt,dd{ 
    box-sizing: border-box;
    padding: 7px;
    border-bottom: 1px solid #DDD;
  }//dt,dd
  dt{
    width: 20%;
    background: var(--dark-color);
    text-align: center;
    color:#FFF;
  }//dt
  dd{
    width: 80%;
  }//dd
}//post-metadata

.single-section{
  img{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 5px;
    background: #EEE;
    border:1px solid #CCC;
  }
  p{
    margin: 20px 0;
  }
}

.post-nav{
  padding-top: 10px;
  text-align: center;
  border-top:1px solid #CCC;
  a{
    margin: 0 5px;
    font-size: 1.2em;
    color:var(--dark-color);
    &:hover{
      color:var(--main-color);
    }
  }//a
}

@media screen and (min-width: 1000px) {
   
} //lg
@media screen and (min-width: 500px)  and (max-width: 1000px){
   
} //md
@media screen and (max-width: 500px) {
  
} //sm