.container{
  position: relative;
  overflow: hidden;
  width: 250px;
  margin: 30px auto;
}
.container .box{
  position: absolute;
  top:0;left:0;
  width: 50px;
  height: 50px;
  background: #000;
  transition: left 1s, top 1s;
}
.container .gate{
  position: absolute;
  top:100px;
  left:150px;
  width: 50px;
  height: 50px;
  background-color: rgb(75, 75, 184);
  border-radius: 50%;
  transform: scale(1.1);
}
.container div[class*='trap']{
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.container .trap1{
  background-color: red;
  top: 50px;
  left: 200px;
}
.container .trap2{
  background-color: blue;
  top: 100px;
  left: 0;
}
.container .trap3{ 
  background-color: green;
  top: 200px;
  left: 150px;
}
.container .block{
  position: absolute;
  background-color: #666;
  width: 50px;
  height: 50px;
  top:50px;
  left:100px
}
.container .box.remove-transition{
  transition: none;
}
.container table{
  border-collapse: collapse;
} 
.container table td{
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #666;
}
.indicator{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 30px auto;
  border:1px solid #666;
}
.indicator button{
  position: absolute;
  width: 50px;
  height: 50px;
}
.indicator button.up{
  left:50px;top:0;
}
.indicator button.down{
  left:50px;bottom:0;
}
.indicator button.left{
  left:0px;top:50px;
}
.indicator button.right{
  right:0px;top:50px;
}
.indicator button.lUp{top:0;left: 0;}
.indicator button.lDown{bottom:0;left: 0;}
.indicator button.rUp{right: 0;top: 0;}
.indicator button.rDown{right: 0;bottom: 0;}
.indicator button.reset{
  font-size: 10px;
  left: 50px;
  top: 50px;}