.abs{
  position: absolute;
  top: 50%;
  right: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
}
.fix{
  position: fixed;
  top: 0;
  right: 25%;
  margin-right: -50px;
  width: 100px;
  height: 100px;
  background-color: beige;
}
.abs div{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  background: red;
}
.container{
  width: 800px;
  margin: 10px auto;
}
.container p{
  position:relative;
  padding: 10px;
  border: 1px solid black;
}
.container p::before{
  content:'';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -5px;
  margin-left: -5px;
  background-color: red;
}
.ex{
  border: 1px solid black;
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}
.ex div:first-child{
  background-color: red;
  position:absolute;
  top: 0;
}
.ex div:last-child{
  background-color: blue;
  color:white;
  width: 70px;
  position: relative;
  margin: 0 auto;
}
.ex1{
  padding-top: 300px;
}
.ex1>div{
  width: 300px;
  height: 300px;
  position: absolute;
}
.ex1 div div{
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
}
.ex1 div div:first-child{
  top: 0;
  right: 0;
}
.ex1 div div:last-child{
  bottom: 0;
  left: 0;
}
.red{
  background-color: red;
  margin-left: 300px;
}
.blue{
  background-color: blue;
  margin-left:450px;
  margin-top: 150px;
}
.pur{
  background-color: purple;
  margin-left: 600px;
  margin-top: 300px;
}