div, span{
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
}
.ex1{
  display: flex;
}
div.ex2, span.ex2{
  display: flex;
  width: 500px;
  margin: 0 auto;
}
div.ex2{
  flex-direction: row;
}
span.ex2{
  flex-direction: column;
}
div.ex2.reverse{
  flex-direction: row-reverse;
  justify-content: flex-end;
}
span.ex2.reverse{
  flex-direction: column-reverse;
  height: 400px;
  justify-content: flex-end;
}
.ex3{
  display: flex;
  margin: 0 auto;
  width: 500px;
}
span.ex3{
  flex-direction:column;
  height: 400px;
}
div.ex3.space{
  justify-content: space-between;
}
div.ex3.end{
  justify-content:flex-end;
}
span.ex3.space{
  justify-content: space-between;
}
span.ex3.end{
  justify-content:flex-end;
}
.ex4{
  display: flex;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  /* align-items: stretch; */
  align-items: flex-end;
}
span.ex4{
  flex-direction: column;
}
/* div.ex4.row{
  flex-direction: row-reverse;
  justify-content: flex-end;
}
span.ex4.col{
  flex-direction: column-reverse;
  justify-content: flex-end;
} */
.ex5{
  display: flex;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  align-items: flex-end;
}
div.ex5.row{
  flex-direction: row-reverse;
  justify-content: flex-end;
}
span.ex5.col{
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.test{
  display: flex;

  width: 400px;
  height: 300px;
  margin: 0 auto;
}
div.test{
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}
span.test{
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}
.ex6{
  display: flex;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
span.ex6{
  flex-direction: column;
}
.ex6 *{
  flex: 1;
}
.ex6 div:nth-child(2){
  width: 150px;
  flex: none;
}
.ex7{
  width: 300px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
.ex7 *{
  width: 33.33%;
}
.ex8{
  display: flex;
  height: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
}