footer{
  margin: 10px auto;
  width: 1000px;
  padding: 20px 0;
  background-color: #ddd;
}
footer address{
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
footer address i{
  display: inline-block;
}