.ex{
  margin:0 auto;
}
a{
  background-color: rgb(180, 180, 179);
  color: white;
  text-decoration: none;
}
.ex{
  width: 1000px;
}
.nav{
  background-color: gray;
  margin: 20px auto 20px 0;
  padding: 10px ;
  box-sizing: border-box;
  text-align: center;
}
.nav a{
  display:inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
}
.container{
  background-color: gray;
  padding: 100px;
  box-sizing: border-box;
}
.inner_container{
  background-color: black;
  padding: 100px;
  box-sizing: border-box;
  width: 350px;
}
.container>div:nth-child(2){
  margin:100px 0 0 450px;
}
.container>div:last-child{
  margin:100px auto 0 auto;
}
.inner_container div{
  background-color: white;
  color: red;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
}