header{
  background-color: #ccc;
  width: 95%;
  max-width:800px;
  height: 100px;
  margin: 10px auto;
}
div.wrap{
  margin: 10px auto;
  width: 95%;
  max-width:800px;
}
main{
  background-color: #ccc;
  height: 410px;
}
aside div{
  height: 200px;
  background-color: #ccc;
}
footer{
  background-color: #ccc;
  width: 95%;
  max-width: 800px;
  height: 100px;
  margin: 10px auto;
}
@media screen and (min-width:1000px){
  div.wrap{
    display:flex;
    justify-content: space-between;
  }
  aside{
    width: calc(25% - 10px);/* 반드시 연산자 양옆으로 여백을 줘야함 */
  }
  aside div:first-child{
    margin-bottom: 10px;
  }
  main{
    width: 75%;
  }
}
@media screen and (max-width:1000px){
  aside{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  aside div{
    width: calc(50% - 5px);
  }
}
@media screen and (max-width:500px){
  aside{
    display:none;
  }
}