table{
  border-collapse: collapse;
}
.min{
  margin: 50px auto;
  text-align: center;
}
.min td{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
.min tr:first-child td:nth-child(5){
  background-color: rgb(252, 9, 199);
  color: white;
  font-size: 20px;
}

.min tr:first-child td:last-child{
  background-color: rgb(252, 9, 199);
  color: white;
  font-size: 20px;
}