table{
  /* 셀의 간격(테이블 고유속성), collapse속성이 추가될 경우 의미 없음 */
  border-spacing: 20px;
  /* 겹치는선 하나로 통일(테이블 고유속성) */
  border-collapse: collapse;
}
table.table1{
  width: 500px;
  margin: 20px auto;
}
table.table1 td{
  border:1px solid black;
  width: 50%;
  height: 70px;
  vertical-align: bottom;
}
.table2{
  margin: 30px auto;
  text-align: center;
}
.table2 td{
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
.sideway{
  text-align: right;
  letter-spacing: 5px;
}
.rtb{
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: right;
  letter-spacing: 5px;
}
.table3{
  margin: 30px auto;
  text-align: center;
}
.table3 td{
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
.table3 .seme{
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 10px;
  letter-spacing: 5px;
}
.table3 tr:nth-child(even){
  background-color: gray;
}
.table3 .firstS{
  font-size: 3px;
}
.table3 .firstRow td:nth-child(2){
  background-color: red;
}
.table3 .secondRow td:nth-child(2){
  background-color: red;
}
.table3 .thirdRow td:nth-child(2){
  background-color: red;
}
.table3 .fourthRow td:nth-child(2){
  background-color: red;
}
.table4{
  text-align: center;
  margin:0 auto;
}
.table4 td{
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.table4 .firstRow td:nth-child(even){
  background-color: gray;
}
.table4 .lastRow{
  font-size: 5px;
}
.table4 .red{
  background-color: red;
}