table{
  border-collapse: collapse;
  text-align: center;
}
th, td{
  border: 1px solid black;
  padding: 7px 0;
}
.table1{
  width: 500px;
  margin: 0 auto;
}
.table1 th[scope*="col"]{
  background-color: rgb(184, 184, 184);
}
.table1 th[scope="row"]{
  background-color: rgb(212, 212, 212);
}
.table1 .th1{
  width: 10%
}
.table1 td{
  width: 30%
}
.table2{
  margin: 30px auto;
}
.table2 caption{
  font-size: 15px;
  text-align: left;
}
.table2 caption span{
  color:red;
}
.table2 thead{
  background-color: antiquewhite;
}
.table2 tr td:first-child:not(.not){
  width: 70px;
}
.table2 td{
  width: 40px;
}
.table2 thead :first-child :first-child, .table2 tbody * :first-child{
  border-left: 0px;
}
.table2 thead * :last-child, .table2 tbody * td:last-child{
  border-right: 0px;
}