html#html-element {
  margin-top: 0 !important;
}

#wpadminbar {
  display: none;
}

main {
  background-color: #ccc;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1000px) {
  body {
    padding-top: 90px;
    padding-left: 90px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    padding-top: 70px;
  }
}

.site-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: var(--gray-color);
}
.site-header::before, .site-header::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--dark-color);
}
.site-header::before {
  left: 0;
  width: 30%;
}
.site-header::after {
  right: 0;
  width: 15%;
}
@media screen and (max-width: 1000px) {
  .site-header::after {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .site-header {
    height: 90px;
  }
}
@media screen and (max-width: 1000px) {
  .site-header {
    height: 70px;
  }
}
.site-header > * {
  position: relative;
  z-index: 1;
}
.site-header h1 {
  height: 60%;
  margin-left: 5%;
}
.site-header h1 span {
  position: fixed;
  left: -100000px;
}
.site-header h1 a img {
  height: 100%;
}
.site-header a.tel {
  position: absolute;
  right: 30%;
  padding: 5px 10px;
  border-radius: 10px;
  color: #ccc;
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: 0.15em;
  background-color: var(--dark-color);
  border: 1px solid #555;
  transition: all 0.3s;
}
.site-header a.tel:hover {
  color: var(--main-color);
}
@media screen and (max-width: 1000px) {
  .site-header a.tel {
    display: none;
  }
}
.site-header ul.login-menu {
  display: flex;
  margin-left: 55%;
}
.site-header ul.login-menu li {
  margin: 0 7px;
}
.site-header ul.login-menu li a {
  color: #ccc;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.2em;
  transition: all 0.3s;
}
.site-header ul.login-menu li a:hover {
  color: var(--main-color);
}
@media screen and (max-width: 1000px) {
  .site-header ul.login-menu {
    display: none;
  }
}
.site-header button.mbtn {
  position: relative;
  margin-right: 5%;
  width: 50px;
  height: 50px;
}
.site-header button.mbtn::before, .site-header button.mbtn::after {
  position: absolute;
  left: 0;
  bottom: -10%;
  width: 100%;
  text-align: center;
  color: var(--main-color);
  font-size: 0.8em;
  transition: opacity 0.5s;
}
.site-header button.mbtn::before {
  content: "OPEN";
}
.site-header button.mbtn::after {
  content: "CLOSE";
  opacity: 0;
}
.site-header button.mbtn span {
  position: absolute;
  left: 7px;
  height: 2px;
  background-color: var(--main-color);
  transition: width 0.2s, margin-top 0.2s, transform 0.2s, opacity 0.2s;
  transition-delay: 0.5s, 0.5s, 0s, 0s;
}
.site-header button.mbtn span.line1 {
  width: 35px;
  margin-top: -7px;
}
.site-header button.mbtn span.line2 {
  width: 25px;
}
.site-header button.mbtn span.line3 {
  width: 10px;
  margin-top: 7px;
}
.site-header button.mbtn.active::before {
  opacity: 0;
}
.site-header button.mbtn.active::after {
  opacity: 1;
}
.site-header button.mbtn.active span {
  width: 35px;
  margin-top: 0;
  transition-delay: 0s, 0s, 0.5s, 0.5s;
}
.site-header button.mbtn.active span.line1 {
  transform: rotate(45deg);
}
.site-header button.mbtn.active span.line2 {
  transform: translateX(-50px);
  opacity: 0;
}
.site-header button.mbtn.active span.line3 {
  transform: rotate(-45deg);
}
.site-header button.mbtn:hover span {
  width: 35px;
}

/* ------------------------------------ */
.sidebar-left {
  position: fixed;
  width: 90px;
  height: calc(100% - 90px);
  top: 90px;
  left: 0;
  background-color: var(--gray-color);
}
@media screen and (max-width: 1000px) {
  .sidebar-left {
    display: none;
  }
}
.sidebar-left .bread-crumb {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 40px;
  margin: 0 auto;
  background-color: var(--dark-color);
  transform: rotate(-180deg);
  /*     &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--main-color);
      }
      li{
        writing-mode: vertical-lr;
        text-transform: uppercase;
        color: #aaa;
        font-size: 0.85em;
        i{
          margin-bottom: 5px;
          transform: rotate(90deg) translateY(-2px);
          color: var(--main-color);
        }
        &:last-child::after{display: none;}
        &::after{
          content: '/';
          margin: 5px 0;
        }
      } */
}
.sidebar-left .bread-crumb > span {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  text-transform: capitalize;
  color: #999;
}
.sidebar-left .bread-crumb > span::after {
  content: "/";
  margin: 5px 0;
}
.sidebar-left .bread-crumb > span:last-child {
  color: var(--main-color);
}
.sidebar-left .bread-crumb > span:last-child::after {
  display: none;
}
.sidebar-left .bread-crumb i {
  color: var(--main-color);
  margin-bottom: 5px;
}
.sidebar-left .sns {
  position: absolute;
  bottom: 90px;
  left: 30px;
  color: #666;
}
.sidebar-left .sns li {
  margin-bottom: -1px;
  border: 1px solid #666;
}
.sidebar-left .sns li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transition: all 0.3s;
}
.sidebar-left .sns li a:hover {
  color: var(--main-color);
}