@import "./mixin";

main.home-visual {
  position: relative;
  z-index: 1;
  height: 100%;
  background: var(--dark-color);
  overflow: hidden;
  .overflow {
    position: relative;
    height: 100%;
    overflow: hidden;
    .col_height {
      position: relative;
      height: 100%;
      .img_container {
        position: absolute;
        width: 100%;
        height: 400%;
        overflow: hidden;
        li {
          width: 100%;
          position: relative;
          height: 25%;
          overflow: hidden;
          figure {
            width: 100%;
            height: 100%;
            transform: scale(1.1);
            background-size: cover;
            background-position: center;
            filter:url(#filter) brightness(70%);
          }
          @for $i from 1 through 4 {
            &.box#{$i} figure {
              background-image: url(../img/home/home#{$i}.jpg);
            }
          }
          div {
            //text box
            max-width: 470px;
            position: absolute;
            width: 90%;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            h6 {
              position: relative;
              color: #fff;
              font-weight: 300;
              text-shadow: 1px 1px 0px #000; //가로/세로/퍼지는정도/색상
              font-size: 3em;
              line-height: 120%;
              margin-bottom: 20px;
              &::before {
                content: "";
                position: absolute;
                border: 5px solid var(--main-color);
                left: 0;
                top: 0;
                width: 30px;
                height: 30px;
                transform: translate(-50%, -50%);
                opacity: 0.5;
                mix-blend-mode: color-dodge;
                @media screen and (max-width: 500px) {
                  transform: scale(0.7) translate(-50%, -50%);
                }
              }
              b {
                color: var(--main-color);
                font-weight: bold;
                font-size: 1.2em;
              }
              @media screen and (max-width: 500px) {
                font-size: 8vw;
              }
            } //h6
            p {
              color: rgba(#fff, 0.8);
              font-weight: 400;
            } //p
          }
        } //li
      }
    } //col_height
  } //overflow
  .prev,
  .next {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    background: var(--dark-color);
    color: #ccc;
    opacity: 0.7;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
      background: var(--main-color);
      color: var(--dark-color);
    }
  }
  .prev {
    top: 0;
  }
  .next {
    bottom: 0;
  }
  .indicator {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 90px;
    button {
      width: 30px;
      height: 30px;
      font-size: 0.75em;
      border: 1px solid #fff;
      color: #fff;
      margin: 0 7px;
      opacity: 0.7;
      transition: all 0.3s;
      &:hover {
        border-radius: 50%;
/*         opacity: 1; */
        background: var(--dark-color);
      } //hover
      &:active {
        border-radius: 50%;
        opacity: 1;
        background: var(--main-color);
      } //active
    }
  }
  .progress {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    .bar {
      position: absolute;
      width: 100%;
      border-top: 1px solid var(--main-color);
      opacity: 0.5;
      overflow: visible !important;
      &::after{
        content: " ";
        position: absolute;
        width: 10px;
        height: 10px;
        left: 100%;
        top: -5px;
        border-radius: 50%;
        background: #FFF;
      }
    }
    .bar1 {
      top: 25%;
    }
    .bar2 {
      top: 50%;
    }
    .bar3 {
      top: 75%;
    }
  }
}
