@import 'mixin';

.post-metadata{
  border-top: 2px solid var(--main-color);
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  dt,dd{
    padding: 7px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;    
  }
  dt{
    width: 20%;
    background-color: var(--dark-color);
    text-align: center;
    color: #fff;
  }//dt
  dd{
    width: 80%;
  }//dd
}//post-metadata
.single-section{
  img{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
  }
  p{
    margin: 20px 0;
  }
}

.post-nav{
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  a{
    margin: 0 5px;
    font-size: 1.2em;
    color: var(--dark-color);
    &:hover{
      color: var(--main-color);
    }
  }
}