section.page-around ul li {
  margin: 20px 0;
}
section.page-around ul li h3 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--dark-color);
  border-bottom: 1px solid var(--main-color);
}
section.page-around ul li h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 50px;
  height: 2px;
  background-color: var(--dark-color);
}
section.page-around ul li p {
  margin-bottom: 20px;
}
section.page-around ul li figure {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
}
section.page-around ul li figure img {
  width: 100%;
}