header{
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
.top-nav{
  height: 40px;
  background-color: rgb(181, 201, 255);
}
.top-nav ul{
  height: inherit;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-nav ul li{
  width: 100px;
  height: 10px;
}
.top-nav ul li:last-child{
  margin-right: 100px;
}
.top-nav ul li a{
  display: block;
  margin: 0 auto;
  width: 70%;
  height: inherit;
  background-color: white;
}
header div.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
@media screen and (max-width:1000px){
  .top-nav{display: none;}
  header div.menu{height: 100%;}
  h1{height: 40%;}
  h1 img{height: 100%;}
  .gnb-lg{display: none;}
  .mbtn img{width: 100%;}
  .gnb-sm{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
  }
  .gnb-sm ul a{
    display: block;
    height: 30px;
    background-color: rgb(160, 185, 255);
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
  }
}


@media screen and (min-width:1000px){
  header{
    height: 130px;
  }
  header div.menu{
    height: calc(100% - 40px);
  }
  h1{height: 30%; margin-left: 20px;}
  h1 img{height: 100%;}
  .gnb-sm, .mbtn{display:none !important}

  .gnb-lg{
    margin-right: 70px;
    height: 25px;
  }
  .gnb-lg ul{
    width: 600px;
    display: flex;
    justify-content: space-between;
    height: inherit;
  }
  .gnb-lg ul li{
    width: 90px;
    height: inherit;
  }
  .gnb-lg ul a{
    display: block;
    height: inherit;
    padding: 0 30px;
    background-color: rgb(160, 185, 255);
  }
}




@media screen and (min-width:500px) and (max-width:1000px){
  header{
    height: 70px;
  }
  .mbtn{
    width: 45px;
    height: 45px;
  }
}




@media screen and (max-width:500px){
  header{
    height: 50px;
  }
  .mbtn{
    width: 25px;
    height: 25px;
  }
}
