.ex1 button{
  border:1px solid black;
  padding: 15px 30px;
  background-color: white;
  border-radius: 0 20px 0 20px;
}/* all은 모든 변하는 속성, 0.5s는 변하는 시간 */
.ex1 button:hover{
  background-color: black;
  color: white;
  border-radius: 20px;
}
.ex1 .btn1{
  transition: all 0.5s;
}
.ex1 .btn2:hover{/* 배경색이 까매지고, 글자색이 흰색이되고, 동그래진다 */
  transition-delay: 0s, 0.5s, 1s;
}
.ex1 .btn2{
  transition: background-color 0.5s, color 0.5s, border-radius 0.5s;
  transition-delay: 1s, 0.5s, 0s;
}
.ex2{
  width: 50px;
  height: 50px;
  margin:0 auto;
  border: 1px solid black;
  line-height: 50px;
  text-align: center;
  font-size: 35px;
  transition: width 0.5s, background-color 0.5s, color 0.5s;
  transition-delay: 0.5s, 0s, 0s;
}
.ex2:hover{
  width: 200px;
  background-color:black ;
  color:white ;
  transition-delay: 0s, 0.5s, 0.5s;
}
.ex3{
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  margin:0 auto;
  text-align: center;
  line-height: 50px;
  transition: border-radius 0.5s, width 0.5s;
  transition-delay: 0.5s, 0s;
}
.ex3:hover{
  border-radius: 50px;
  width: 100px;
  transition-delay: 0s, 0.5s;
}
.ex4{
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  background-color: white;
  animation-name: round;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
}
.ex4:hover{
  animation-play-state: running;
}
@keyframes round{
  0%{
    border-radius: 0;
    background-color: white;
    color: black;
  }
  100%{
    border-radius:50%;
    background-color: black;
    color: white;
  }
}
.ex5{
  width: 50px;
  height: 50px;
  background-color: red;
  animation: move 5s infinite linear;
}
@keyframes move{
  0%{
    margin-left:0;
  }100%{
    margin-left:300px;
  }
}
.ex6{
  padding:20px;
  border: 1px solid #666;
  background-color: #eee;
  text-align: center;
}
.ex6 button{
  border: 1px solid black;
  padding:20px;
  background-color: white;

}
.ex6:hover button{
  animation: toggle 1s infinite alternate;
}
.ex6 button.btn1{
  animation-delay: 0s;
}
.ex6 button.btn2{
  animation-delay: 0.5s;
}
.ex6 button.btn3{
  animation-delay: 1s;
}
@keyframes toggle{
  0%{
    color: black;
    background-color: white;
  }100%{
    background-color: black;
    color: white;
  }
}
.ex7{
  text-align: center;
}
.ex7 div{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid black;
}
.ex7 div:nth-child(1){
  transform:translate(-50px,-50px);
}
.ex7 div:nth-child(2){
  transform:rotate(-45deg);
  transform-origin: center bottom;
}
.ex7 div:nth-child(3){
  transform:scale(1.5);
}
.ex8{
  background-color: red;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.ex9{
  text-align: center;
}
.ex9 button{
  border:1px solid #ccc;
  background-color: #fff;
  width: 100px;
  height: 100px;
  transition: background-color 0.5s, color 0.5s, border-radius 0.5s, transform 0.5s;
  transition-delay: 1s, 1s, 0.5s, 0s;
}
.ex9 button:hover{
  background-color: black;
  color: white;
  border-radius: 50%;
  transform:scale(1.3);
  transition-delay: 0s, 0s, 0.5s, 1s;
}


